body {
  background-color: #0077b5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  color: #0077b5;
  text-decoration: none;
}
a:active {
  color: #0077b5;
}

h3 {
  margin: 0.5rem 0 1rem 0;
}

.resume {
  background-color: white;
  max-width: 960px;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.header > .header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.section {
  border-top: 2px solid #666;
}

.work-header {
  display: flex;
  justify-content: space-between;
}

.work-title {
  font-weight: 600;
}
