---
import { info } from "@data";
import { Icon } from "astro-icon";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const Projects = info.projects.map((project) => project);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Projects"}
      description={"All projects are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>
  <body>
    <Layout>
      <div class="flex flex-col gap-16 dark:text-light">
        <h1 class="dark:text-light">Projects</h1>
        <div class="flex">
          <p class="dark:text-light text-xl flex mr-1">
            {"Please check out more on my"}
          </p>
          <a
            class="dark:text-light link transition-all duration-200 items-center text-xl flex"
            href={info.socialMedia.github}
          >
            <Icon pack="mdi" name="github" size="24" />
            <span>GitHub</span>
          </a>
        </div>

        <ProjectsWrapper projects={Projects} />
      </div>
    </Layout>
  </body>
</html>
