---
import Contacts from "@components/general/Contacts.astro";
import { IHeroProps } from "@types";

const { name, tagline, highLights } = Astro.props as IHeroProps;
---

<section class="flex flex-wrap">
  <div class="lg:w-[600px]">
    <p class="dark:text-light mt-[117px]">Hey, I'm</p>
    <h1 class="my-8 dark:text-light">{name}</h1>
    <h2 class="text-sky-500 dark:text-emerald-400 text-xl mt-6 font-semibold">
      {highLights}
    </h2>
    <h2 class="dark:text-light text-xl mb-16 mt-6">
      {tagline}
    </h2>
    <Contacts />
  </div>
  <img
    class="hero-image mx-auto w-auto green-hero"
    src="/assets/images/green-hero.png"
  />
  <img
    class="hero-image mx-auto w-auto sky-hero"
    src="/assets/images/sky-hero.png"
  />
</section>
